@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Bricolage+Grotesque&family=Dancing+Script&family=Itim&family=Montserrat+Alternates:wght@500&family=Montserrat:wght@500&family=Noto+Sans+Bengali:wght@500&family=PT+Serif&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: block;
}


html,
body {
    height: 100%;
    width: 100%;
    background-color: rgba(225, 181, 98, 0.589);
    color: aliceblue;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head {
    padding: 10px;
    width: 100%;
    height: 80px;
    background: #222;
    text-align: center;
    font-size: 40px;
}

#container {
    /* background-color: rgb(140, 92, 188); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 75%;
    min-height: calc(100vh - 80px);
    overflow: auto;

}


.imgCont {
    background-color: antiquewhite;
    border: 5px solid black;
    border-radius: 10px;
    width: 40%;
    height: 250px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.imgCont img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}



.imgCont::after{
    content: "Krishna";
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 105, 175, 0.523);
    border-radius: 50%;
    color: rgb(238, 255, 0);
    font-size: 0.5vw;
    position: absolute;
    left: 0;
    bottom: -100%;
}

.imgCont:hover img{
    transform: scale(1.2);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s
}

.imgCont:hover::after{
    bottom: 0;
    border-radius: 0%;
    font-size: 2.5vw;
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s
}

@media screen and (max-width: 900px) {
    #container {
        width: 90%;
    }

}

@media screen and (max-width: 600px) {
    #container {
        width: 100%;
    }

}

#hack::after{
    content: "Hackathon";
}
#junk::after{
    content: "JunkYard";
}
#tech::after{
    content: "TechExpo";
}
#trade::after{
    content: "TraderX";
}
#room::after{
    content: "Situation Room";
}
